/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
* {
    color: white;
}

/* header */
header {
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
}

nav {
    margin-top: 3px;
    margin-right: 3px;
}

ul {
    list-style-type: none;
    display: flex;
}

header li {
    margin: 2px;
    background-color: #4a4a4a;
    padding: 5px 4px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: white;
}

/* main */

main {
    margin-top: 80px;
    height: calc(100vh - 160px);
    background-color: black;
    overflow-y: auto;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: calc(100% / 8);
    margin: 15px 8px;
    position: relative;
}

img {
    width: 100%;
}

.student {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0;
    left: 0;
    padding: 5px;
}

/* footer */
footer {
    height: 80px;
    background-color: #222222;
    display: flex;
}

.left-content {
    width: 10%;
}

footer li {
    text-align: center;
    margin: 10px;
}

.central-content {
    width: 80%;
    display: flex;
    justify-content: center;
}

.right-content {
    width: 10%;
    background-color: #4a4a4a;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer li div {
    margin-top: 5px;
}

.arrow {
    line-height: 60px;
}

.green {
    color: green;
}

.right-content span a {
    color: #de1930;
}

